# Kconfig.mcp2515 - MCP2515 CAN configuration options

#
# Copyright (c) 2018 Karsten Koenig
#
# SPDX-License-Identifier: Apache-2.0
#

config CAN_MCP2515
	bool "MCP2515 CAN Driver"
	default n
	depends on SPI
	help
	  Enable MCP2515 CAN Driver
